<div id="logo">
  <img alt="EuropeanaRS logo" src="/assets/Europeanars_logo.png"/>
</div>

<p id="logo_search_separator"></p>

<div id="search_input">
  <form accept-charset="UTF-8" action="/search" method="get">
    <input autocomplete="off" class="query" name="query" placeholder="<%=t("dictionary.search")%>" type="text" value="<%=params[:query]%>">
    <button type="button" class="search_button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <%=t("dictionary.search")%></button>
  </form>
</div>

<p id="search_results_separator"></p>

<div id="search_wrapper">
  <div class="column1">
    <div class="matches_title">
      <% unless params[:query].blank? %>
        <p class="match_query_title"><%=t("search.matches_for")%>:</p>
        <p class="match_query"><%=params[:query]%></p>
      <% else %>
        <p class="match_query_title"><%=t("header.explore")%></p>
      <% end %>
    </div>
    <div class="search_sorting">
      <span class="title"><%=t("search.sort_results_by.title")%>:</span>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="sortbytext"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% unless params[:query].blank? %>
              <li value="relevance"><a href="#"><span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span> <%=t("search.sort_results_by.relevance")%></a></li>
            <% end %>
            <li value="random"><a href="#"><span class="glyphicon glyphicon-align-center" aria-hidden="true"></span> <%=t("search.sort_results_by.random")%></a></li>
            <li value="year_desc"><a href="#"><span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> <%=t("search.sort_results_by.novelty")%></a></li>
            <li value="year_asc"><a href="#"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%=t("search.sort_results_by.year")%></a></li>
            <li value="quality"><a href="#"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> <%=t("search.sort_results_by.quality")%></a></li>
          </ul>
        </div>
    </div>
    <div class="search_filters">
      <p class="title"><%=t("search.refine_results")%>:</p>
      <% if Utils.getResourceTypes.length > 1 %>
        <div class="search_filter" name="resource_type" type="nonexclusive">
          <button href="#" status="minimize" class="btn-filter">-</button>
          <span class="search_filter_title"><%=t("search.filters.resource_type.title").html_safe%>:</span>
          <hr class="separator">
          <div class="search_filter_content">
            <ul class="options_for_filter">
              <% Utils.getResourceTypes.each do |resourceType| %>
                <li value="<%=resourceType%>"><%=Utils.getReadableResourceType(resourceType)%></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="search_filter" name="language" type="nonexclusive">
        <button href="#" status="minimize" class="btn-filter">-</button>
        <span class="search_filter_title"><%=t("search.filters.language.title").html_safe%>:</span>
        <hr class="separator">
        <div class="search_filter_content">
          <ul class="options_for_filter">
            <% get_languages.each do |lanCode| %>
              <li value="<%=lanCode%>"><%=Utils.getReadableLanguage(lanCode)%></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="search_filter">
        <button href="#" status="minimize" class="btn-filter">-</button>
        <span class="search_filter_title"><%=t("search.filters.year.title").html_safe%>:</span>
        <hr class="separator">
        <div class="search_filter_content">
          <p id="year_range_wrapper">
            <span><%=t("search.filters.year.range")%>:</span>
            <input type="text" id="year_range" class="slider_value" readonly />
          </p>
          <div class="slider" id="year_slider"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="column2">
    <p class="section_title"><%=t("search.tools.title")%></p>
    <div class="search_tools">
      <div class="rppage">
        <span><%=t("search.tools.rpp")%>:</span>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="rppagetext"><%=@results.per_page%></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">12</a></li>
            <li><a href="#">24</a></li>
            <li><a href="#">50</a></li>
            <li><a href="#">100</a></li>
          </ul>
        </div>
      </div>
      <div class="rnumber">
        <% totalEntries = [@results.total_pages * @results.per_page, @results.total_entries].min %>
        <% firstResultShown = (@results.current_page-1)*@results.per_page+1 %>
        <% firstResultShown = [firstResultShown, totalEntries].min %>
        <% lastResultShown = ((@results.current_page-1)*@results.per_page+@results.per_page) %>
        <% lastResultShown = [lastResultShown, totalEntries].min %>
        <p><%=t("search.tools.results")%> <%=firstResultShown%>-<%=lastResultShown%> of <%=totalEntries%></p>
      </div>
      <div class="rpnumber">
        <p>
          <% if @results.current_page > 1 %>
            <span id="searchFirstPage" class="glyphicon glyphicon glyphicon-backward" aria-hidden="true"></span>
            <span id="searchPrevPage" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <% end %>
          <%=t("search.tools.page")%> <input id="pagenumberinput" type="number" min="1" max="<%=@results.total_pages%>" value="<%=@results.current_page%>"/> of <%=@results.total_pages%>
          <% if @results.current_page < @results.total_pages %>
            <span id="searchNextPage" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span id="searchLastPage" class="glyphicon glyphicon glyphicon-forward" aria-hidden="true"></span>
          <% end %>
        </p>
      </div>
    </div>
    <div id="search_results">
      <% if @results.blank? %>
        <% unless params[:query].blank? %> 
          <p class="emptySearch"><%=t('search.no_results_messageA', query: params[:query]).html_safe %></p>
        <% else %>
          <p class="emptySearch"><%=t('search.no_results_messageB') %></p>
        <% end %>
      <% end %>
      <% @results.each do |lo| %>
        <%= render "los/lo_box", lo: lo %>
      <% end %>
    </div>
  </div>
</div>

<script>
  //Global vars
  var CURRENT_QUERY;

  $(document).ready(function(){

    //////////////
    // Initialization
    /////////////
    var init = function(){
      CURRENT_QUERY = new currentQuery();
      loadEvents();
      updateInterface();
    };

    ///////////
    // Events
    ///////////

    var loadEvents = function(){

      $(".btn-filter").click(function(event){
        var searchFilterContent = $(this).parent().find("div.search_filter_content");
        if($(this).attr("status")==="minimize"){
          $(this).attr("status","maximize");
          $(searchFilterContent).slideUp();
          $(this).html("+");
        } else {
          $(this).attr("status","minimize");
          $(searchFilterContent).slideDown();
          $(this).html("-");
        }
      });

      $("div.search_sorting ul.dropdown-menu a").click(function(e){
        e.preventDefault();

        $(this).parents("ul.dropdown-menu").find("li").removeClass("selected");
        $(this).parents("li").addClass("selected");
        var newSortingText = $(this).html();
        $(this).parents("div.search_sorting").find("span.sortbytext").html(newSortingText);
        performSearchQuery();
      });

      $("div.rppage ul.dropdown-menu a").click(function(e){
        e.preventDefault();
        var newResultsPerPage = $(this).html();
        $(this).parents("div.rppage").find("span.rppagetext").html(newResultsPerPage);
        performSearchQuery();
      });

      $("div.search_filter ul.options_for_filter li").click(function(event){
        var searchFilterDOM = $(this).parents("div.search_filter");
        
        var exclusive = ($(searchFilterDOM).attr("type")==="exclusive");
        if(exclusive){
          $(this).parents("ul.options_for_filter").find("li").not(this).removeClass("selected");
        }

        if($(this).hasClass("selected")){
          $(this).removeClass("selected");
        } else {
          $(this).addClass("selected");
        }
        
        performSearchQuery();
      });

      $("#pagenumberinput").keydown(function(event){
        if(event.keyCode===13){
          checkPageNumber();
        }
      });

      $("#pagenumberinput").blur(function(event){
        checkPageNumber();
      });

      $("#searchNextPage").click(function(){
        CURRENT_QUERY.currentPageNumber += 1;
        performSearchQuery();
      });

      $("#searchPrevPage").click(function(){
        CURRENT_QUERY.currentPageNumber -= 1;
        performSearchQuery();
      });

      $("#searchFirstPage").click(function(){
        CURRENT_QUERY.currentPageNumber = 1;
        performSearchQuery();
      });

      $("#searchLastPage").click(function(){
        CURRENT_QUERY.currentPageNumber = "<%=@results.total_pages%>";
        performSearchQuery();
      });

      $("#year_slider").slider({
        range: true,
        min: 1600,
        max: 2015,
        step: 1,
        values: [ CURRENT_QUERY.yearMin, CURRENT_QUERY.yearMax ],
        slide: function(event, ui){
          $("#year_range").val(ui.values[0] + " - " + ui.values[1]);
        },
        change: function( event, ui ) {
          // var yearMin = ui.values[0];
          // var yearMax = ui.values[1];
          performSearchQuery();
        }
      });
      $("#year_range").val($("#year_slider").slider("values",0) + " - " + $("#year_slider").slider("values",1));

      var checkPageNumber = function(){
        var requestedPageNumber = parseInt($("#pagenumberinput").val());
        if(isNaN(requestedPageNumber)){
          $("#pagenumberinput").val(CURRENT_QUERY.currentPageNumber);
          return;
        }
        var pageNumberChange = (requestedPageNumber!=CURRENT_QUERY.currentPageNumber);
        if(pageNumberChange){
          CURRENT_QUERY.currentPageNumber = requestedPageNumber;
          performSearchQuery();
        }
      };

      $("#search_input form").submit(function(event){
        event.preventDefault();
        performSearchQuery();
      });

      $("#search_input .search_button").click(function(event){
        event.preventDefault();
        $("#search_input form").submit();
      });
    };

    var updateInterface = function(){
      //Query (search terms) are already drawed
      //Seach Tools are already updated

      //Sort by dropdown
      var sortByTextElement = $("div.search_sorting ul.dropdown-menu li[value='"+ CURRENT_QUERY.sortBy +"']").find("a");
      if(typeof sortByTextElement != "undefined"){
        var sortByText = $(sortByTextElement).html();
        $("div.search_sorting span.sortbytext").html(sortByText);
      }
      

      //Filters

      // 1. Resource types
      if(CURRENT_QUERY.resource_types != ""){
        var resource_types = CURRENT_QUERY.resource_types.split(",");
        var resourceTypesDOM = $("div.search_filter[name='resource_type'] ul");
        for(var i=0; i<resource_types.length; i++){
          $(resourceTypesDOM).find("li[value='"+ resource_types[i] +"']").addClass("selected");
        }
      }

      // 2. Languages
      if(CURRENT_QUERY.languages != ""){
        var languages = CURRENT_QUERY.languages.split(",");
        var languagesDOM = $("div.search_filter[name='language'] ul");
        for(var i=0; i<languages.length; i++){
          $(languagesDOM).find("li[value='"+ languages[i] +"']").addClass("selected");
        }
      }

      // 3. Years
      // These are already updated since are drawed with the slider
    };

    ///////////
    // Search API functions
    ///////////

    var currentQuery = function(){
      this.query = ("<%= params[:query].blank? ? "" : params[:query] %>");
      this.resultsPerPage = parseInt("<%= @results.per_page %>");
      this.currentPageNumber = parseInt("<%= @results.current_page %>");
      this.sortBy =  ("<%= params[:sort_by].blank? ? (params[:query].blank? ? 'random' : 'relevance') : params[:sort_by] %>");
      this.resource_types = ("<%= params[:resource_types].blank? ? "" : params[:resource_types] %>");
      this.languages = ("<%= params[:languages].blank? ? "" : params[:languages] %>");
      this.yearMin = parseInt("<%= params[:yearMin].blank? ? 1600 : params[:yearMin] %>");
      this.yearMax = parseInt("<%= params[:yearMax].blank? ? 2015 : params[:yearMax] %>");
    };

    var performSearchQuery = function(){
      var searchTerms = $("#search_input input[name='query']").val();
      var resultsPerPage = parseInt($("#search_wrapper span.rppagetext").html());
      var page = CURRENT_QUERY.currentPageNumber;

      if(resultsPerPage != CURRENT_QUERY.resultsPerPage){
        //Clean page.
        page = 1;
      }


      //Sort by
      var sortByQuery = "";
      var sortBy = $("div.search_sorting ul.dropdown-menu li.selected").attr("value");
      if(typeof sortBy != "string"){
        //The user has not selected explicitly a sortBy option.
        if(searchTerms != CURRENT_QUERY.query){
          //Sort by relevance by default when the user has changed the search terms
          sortBy = 'relevance';
        } else {
          //Keep sortBy option
          sortBy = CURRENT_QUERY.sortBy;
        }
      }
      //Do not allow sort by relevance on browses
      if(searchTerms.trim()===""){
        if(sortBy === "relevance"){
          sortBy = "random";
        }
      }
      sortByQuery = "&sort_by=" + sortBy;

      if(sortBy != CURRENT_QUERY.sortBy){
        //Clean page.
        page = 1;
      }
      
      
      //Filters
      var filtersQuery = "";

      //1. Resource type
      var resource_types = [];
      $("div.search_filter[name='resource_type'] ul li.selected").each(function(index,value){
        resource_types.push($(value).attr("value"));
      });
      if(resource_types.length > 0){
        resource_types = resource_types.join(",");
        filtersQuery += "&resource_types=" + resource_types;
      } else {
        resource_types = "";
      }
      if(resource_types != CURRENT_QUERY.resource_types){
        //Clean page.
        page = 1;
      }

      //2. Language
      var languages = [];
      $("div.search_filter[name='language'] ul li.selected").each(function(index,value){
        languages.push($(value).attr("value"));
      });
      if(languages.length > 0){
        languages = languages.join(",");
        filtersQuery += "&languages=" + languages;
      } else {
        languages = "";
      }
      if(languages != CURRENT_QUERY.languages){
        //Clean page.
        page = 1;
      }
      
      //3. Year
      var yearMin = parseInt($("#year_slider").slider("values",0));
      var yearMax = parseInt($("#year_slider").slider("values",1));
      if((yearMin != 1600)||(yearMax != 2015)){
        filtersQuery += "&yearMin=" + yearMin + "&yearMax=" + yearMax;
      }
      if((yearMin != CURRENT_QUERY.yearMin)||(yearMax != CURRENT_QUERY.yearMax)){
        //Clean page.
        page = 1;
      }


      var searchQuery = "/search?query=" + searchTerms + "&n=" + resultsPerPage + "&page=" + page + sortByQuery + filtersQuery;

      window.location = searchQuery;
    };

    init();
  });
</script>