<div id="logo">
  <img alt="EuropeanaRS logo" src="/assets/Europeanars_logo.png"/>
  <p><%=t("home.europeana_rs_description")%></p>
</div>

<p id="logo_search_separator"></p>

<div class="evaluation_wrapper">
  <p class="title"><%=t("evaluation.steptitle", :step => "1").html_safe%></p>
  <div id="progressbar" class="progressbar"></div>
  <div class="evaluation_description"><%=t("evaluation.step1.description").html_safe%></div>
  <button id="step" class="europeanars_button"><%=t("dictionary.next")%></button>
  <form id="stepform" style="display:none" action="/evaluation/step1" method="POST">
    <input type="hidden" name="data">
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  </form>
</div>

<script>
  $(document).ready(function(){
    $("#progressbar").progressbar({
      value: 33
    });
    $("#step").click(function(event){
      event.preventDefault();
      event.stopPropagation();
      var data = {};
      var form = $("#stepform");
      $(form).find("input[name='data']").attr("value",JSON.stringify(data));
      $(form).submit();
    });
  });
</script>



