<div id="logo">
  <img alt="EuropeanaRS logo" src="/assets/Europeanars_logo.png"/>
  <p><%=t("home.europeana_rs_description")%></p>
</div>

<p id="logo_search_separator"></p>

<div class="evaluation_wrapper">
  <p class="title"><%=t("evaluation.steptitle", :step => "2").html_safe%></p>
  <div id="progressbar" class="progressbar"></div>
  <div class="evaluation_description"><%=t("evaluation.step2.description").html_safe%></div>
  <div class="evaluation_los">
    <% @itemsA.each do |loProfile| %>
      <%= render "/evaluation/lo_profile_box", :lo => loProfile %>
    <% end %>
  </div>
  <button id="step" class="europeanars_button"><%=t("dictionary.next")%></button>
  <form id="stepform" style="display:none" action="/evaluation/step2" method="POST">
    <input type="hidden" name="data">
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  </form>
</div>

<script>
  $(document).ready(function(){
    $("#progressbar").progressbar({
      value: 66
    });
    $('div.rating').raty({
      path: '/assets',
      hints: ['1 (<%=t("evaluation.stars.one")%>)', '2', '3', '4', '5 (<%=t("evaluation.stars.five")%>)']
    });
    $("#step").click(function(event){
      event.preventDefault();
      event.stopPropagation();

      var scores = $("div.rating").raty('score');
      var validScores = [];
      for(var i=0; i<scores.length; i++){
        if(typeof scores[i] == "number"){
          validScores.push(scores[i]);
        }
      }
      if(validScores.length < parseInt('<%=@itemsA.length%>')){
        return alert('<%=t("evaluation.messages.norelevance")%>');
      }

      //Send data to the server using a web form
      var data = {};
      data["recommendationsA"] = JSON.parse('<%=raw(escape_javascript @recommendationsA.to_json)%>');
      data["randomA"] = JSON.parse('<%=raw(escape_javascript @randomA.to_json)%>');
      data["relevances"] = {};
      
      $("div.rating").each(function(index,value){
        data["relevances"][$(value).attr('loid')] = $(value).raty('score');
      });

      var form = $("#stepform");
      $(form).find("input[name='data']").attr("value",JSON.stringify(data));
      $(form).submit();
    });
  });
</script>



