<div class="profile_section_wrapper">
  <p class="profile_section_title"><%=t("profile.settings.title")%></p>
  <div class="profile_section_description withoutactions">
    <p><%=t("profile.settings.description").html_safe%></p>
  </div>
</div>

<div class="profile_section_wrapper settings_section weights_section">
  <p class="profile_section_title"><%=t("profile.settings.title_general_weights")%></p>
  <div class="weights_sum_circle"><%=@user_settings[:rs_weights].map{|k,v| v}.sum.round(0)*100%>%</div>
  <% ["los","us","quality","popularity"].each do |criterion| %>
    <div class="profile_info_field">
      <div class="settings_slider_wrapper">
        <p class="slider_title">
          <span><%=t("profile.settings.weights.general." + criterion)%>:</span>
          <input type="text" class="slider_value" readonly />
        </p>
        <div id="general_weight_<%=criterion%>" class="slider" value="<%=@user_settings[:rs_weights][(criterion + "_score").to_sym]*100%>"></div>
      </div>
    </div>
  <% end %>
  <%= form_tag("/settings", method: "post") do %>
    <input type="hidden" name="user_settings"/>
    <%= submit_tag(t("dictionary.update"), { class: "europeanars_button" }) %>
  <% end %>
</div>

<div class="profile_section_wrapper settings_section weights_section">
  <p class="profile_section_title"><%=t("profile.settings.title_los_weights")%></p>
  <div class="weights_sum_circle"><%=@user_settings[:los_weights].map{|k,v| v}.sum.round(0)*100%>%</div>
  <% ["title","description","language","year"].each do |criterion| %>
    <div class="profile_info_field">
      <div class="settings_slider_wrapper">
        <p class="slider_title">
          <span><%=t("profile.settings.weights.los." + criterion)%>:</span>
          <input type="text" class="slider_value" readonly />
        </p>
        <div id="los_weight_<%=criterion%>" class="slider" value="<%=@user_settings[:los_weights][(criterion).to_sym]*100%>"></div>
      </div>
    </div>
  <% end %>
  <%= form_tag("/settings", method: "post") do %>
    <%= hidden_field_tag(:user_settings) %>
    <input type="hidden" name="user_settings"/>
    <%= submit_tag(t("dictionary.update"), { class: "europeanars_button" }) %>
  <% end %>
</div>

<div class="profile_section_wrapper settings_section weights_section">
  <p class="profile_section_title"><%=t("profile.settings.title_us_weights")%></p>
  <div class="weights_sum_circle"><%=@user_settings[:us_weights].map{|k,v| v}.sum.round(0)*100%>%</div>
  <% ["language", "los"].each do |criterion| %>
    <div class="profile_info_field">
      <div class="settings_slider_wrapper">
        <p class="slider_title">
          <span><%=t("profile.settings.weights.us." + criterion)%>:</span>
          <input type="text" class="slider_value" readonly />
        </p>
        <div id="us_weight_<%=criterion%>" class="slider" value="<%=@user_settings[:us_weights][(criterion).to_sym]*100%>"></div>
      </div>
    </div>
  <% end %>
  <%= form_tag("/settings", method: "post") do %>
    <%= hidden_field_tag(:user_settings) %>
    <input type="hidden" name="user_settings"/>
    <%= submit_tag(t("dictionary.update"), { class: "europeanars_button" }) %>
  <% end %>
</div>

<br/><br/>

<div class="profile_section_wrapper settings_section filters_section">
  <p class="profile_section_title"><%=t("profile.settings.title_general_filters")%></p>
  <% ["los","us","quality","popularity"].each do |criterion| %>
    <div class="profile_info_field">
      <div class="settings_slider_wrapper">
        <p class="slider_title">
          <span><%=t("profile.settings.weights.general." + criterion)%>:</span>
          <input type="text" class="slider_value" readonly />
        </p>
        <div id="general_filter_<%=criterion%>" class="slider" value="<%=@user_settings[:rs_filters][(criterion + "_score").to_sym]*100%>"></div>
      </div>
    </div>
  <% end %>
  <%= form_tag("/settings", method: "post") do %>
    <input type="hidden" name="user_settings"/>
    <%= submit_tag(t("dictionary.update"), { class: "europeanars_button" }) %>
  <% end %>
</div>

<div class="profile_section_wrapper settings_section filters_section">
  <p class="profile_section_title"><%=t("profile.settings.title_los_filters")%></p>
  <% ["title","description","language","year"].each do |criterion| %>
    <div class="profile_info_field">
      <div class="settings_slider_wrapper">
        <p class="slider_title">
          <span><%=t("profile.settings.weights.los." + criterion)%>:</span>
          <input type="text" class="slider_value" readonly />
        </p>
        <div id="los_filter_<%=criterion%>" class="slider" value="<%=@user_settings[:los_filters][(criterion).to_sym]*100%>"></div>
      </div>
    </div>
  <% end %>
  <%= form_tag("/settings", method: "post") do %>
    <%= hidden_field_tag(:user_settings) %>
    <input type="hidden" name="user_settings"/>
    <%= submit_tag(t("dictionary.update"), { class: "europeanars_button" }) %>
  <% end %>
</div>

<div class="profile_section_wrapper settings_section filters_section">
  <p class="profile_section_title"><%=t("profile.settings.title_us_filters")%></p>
  <% ["language", "los"].each do |criterion| %>
    <div class="profile_info_field">
      <div class="settings_slider_wrapper">
        <p class="slider_title">
          <span><%=t("profile.settings.weights.us." + criterion)%>:</span>
          <input type="text" class="slider_value" readonly />
        </p>
        <div id="us_filter_<%=criterion%>" class="slider" value="<%=@user_settings[:us_filters][(criterion).to_sym]*100%>"></div>
      </div>
    </div>
  <% end %>
  <%= form_tag("/settings", method: "post") do %>
    <%= hidden_field_tag(:user_settings) %>
    <input type="hidden" name="user_settings"/>
    <%= submit_tag(t("dictionary.update"), { class: "europeanars_button" }) %>
  <% end %>
</div>


<script>
  $(document).ready(function(){

    //////////////
    // Initialization
    /////////////
    var init = function(){
      loadEvents();
      updateInterface();
    };

    ///////////
    // Events
    ///////////

    var loadEvents = function(){
      $("div.profile_section_wrapper.settings_section div.settings_slider_wrapper div.slider").each(function(index,sliderDOM){
          $(sliderDOM).slider({
            range: "max",
            orientation: "horizontal",
            animate: true,
            min: 0,
            max: 100,
            step: 1,
            value: parseInt($(sliderDOM).attr("value")),
            slide: function(event, ui){
              $(textForSlider(sliderDOM)).val(ui.value + "%");
            },
            change: function( event, ui ) {
              $(textForSlider(sliderDOM)).val(ui.value + "%");
              updateSumForSlider(sliderDOM);
            }
          });
          $(textForSlider(sliderDOM)).val($(sliderDOM).slider("value") + "%");
      });

      $("div.profile_section_wrapper.settings_section form").each(function(index,formDOM){
        $(formDOM).submit(function(e){

          var weightSection = $(formDOM).parents("div.profile_section_wrapper.weights_section");
          var isWeightForm = $(weightSection).length > 0;

          if(isWeightForm){
            var weightsSum = parseInt($(weightSection).find("div.weights_sum_circle").html());
            if(!validWeight(weightsSum)){
              event.preventDefault();
              alert("<%=I18n.t('profile.settings.notifications.errors.bad_weights')%>");
              return;
            }
          }
          
          var userSettings;
          try {
            userSettings = JSON.stringify(buildUserSettings());
          } catch (e) {
            event.preventDefault();
            alert("<%=I18n.t('profile.settings.notifications.errors.bad_weights')%>");
            return;
          }

          //Submit...
          $(this).find("input.europeanars_button").addClass("waiting").attr("disabled","disabled");

          //Fill values (after client validation)
          $(formDOM).find("input[name='user_settings']").val(userSettings);
        });
      });

      $("div.profile_section_wrapper.weights_section div.weights_sum_circle").click(function(event){
        //Fix weights
        var weightsSum = parseInt($(this).html());
        if(weightsSum === 100){
          return false;
        }

        var newWeightsSum = 0;

        //Find sliders
        var slidersDOM = $(this).parents("div.profile_section_wrapper.weights_section").find("div.slider");
        var slidersDOMLength = $(slidersDOM).length;
        $(slidersDOM).each(function(index,sliderDOM){
          var sliderValue = $(sliderDOM).slider("value");
          var newSliderValue = parseInt(sliderValue/weightsSum * 100);
          if(weightsSum === 0){
            //Fix special case: when all weights are 0.
            newSliderValue = parseInt(100/slidersDOMLength);
          }
          newWeightsSum += newSliderValue;
          $(sliderDOM).slider("value",newSliderValue);
        });

        if(newWeightsSum!=100){
          //Since numbers are rounded, this is a possibility. We need to fix this.
          var weightsDiff = Math.abs(100-newWeightsSum);
          $(slidersDOM).each(function(index,sliderDOM){
            var sliderValue = $(sliderDOM).slider("value");
            var newSliderValue = -1;

            if(newWeightsSum < 100){
              //We must sum the difference
              if((sliderValue + weightsDiff) < 100){
                newSliderValue = (sliderValue + weightsDiff);
              }
            } else {
              //We must deduct the difference
              if((sliderValue - weightsDiff) > 0){
                newSliderValue = (sliderValue - weightsDiff);
              }
            }

            if(newSliderValue != -1){
              $(sliderDOM).slider("value",newSliderValue);
              return false;
            }
          });
        }

        updateSumForSlider(slidersDOM[0]);
      });

    };

    var updateInterface = function(){
    };

    ///////////
    // Utils
    ///////////

    var textForSlider = function(sliderDOM){
      return $(sliderDOM).parents("div.settings_slider_wrapper").find("input.slider_value");
    };

    var textSumForSlider = function(sliderDOM){
      return $(sliderDOM).parents("div.profile_section_wrapper").find("div.weights_sum_circle");
    };

    var updateSumForSlider = function(sliderDOM){
      var value = 0;
      $(sliderDOM).parents("div.profile_section_wrapper").find("div.slider").each(function(index,sliderDOM){
        value += $(sliderDOM).slider("value");
      });
      var textSumDOM = textSumForSlider(sliderDOM);
      if(validWeight(value)){
        $(textSumDOM).removeClass("errors");
      } else {
        $(textSumDOM).addClass("errors");
      }
      $(textSumDOM).html(value + "%");
    };

    var validWeight = function(weight){
      if((typeof weight != "number")||(isNaN(weight))){
        return false;
      }
      if(weight!=100){
        return false;
      }
      return true;
    };

    var buildUserSettings = function(){
      var user_settings = {}

      //General RS Weights
      user_settings["rs_weights"] = {}
      <% ["los","us","quality","popularity"].each do |criterion| %>
        user_settings["rs_weights"]["<%=criterion%>_score"] = $("#general_weight_<%=criterion%>").slider("value")/100;
      <% end %>

      //Learning Object Similarity Weights
      user_settings["los_weights"] = {}
      <% ["title","description","language","year"].each do |criterion| %>
        user_settings["los_weights"]["<%=criterion%>"] = $("#los_weight_<%=criterion%>").slider("value")/100;
      <% end %>

      //User Similarity Weights
      user_settings["us_weights"] = {}
      <% ["language","los"].each do |criterion| %>
        user_settings["us_weights"]["<%=criterion%>"] = $("#us_weight_<%=criterion%>").slider("value")/100;
      <% end %>


      //General RS Filters
      user_settings["rs_filters"] = {}
      <% ["los","us","quality","popularity"].each do |criterion| %>
        user_settings["rs_filters"]["<%=criterion%>_score"] = $("#general_filter_<%=criterion%>").slider("value")/100;
      <% end %>

      //Filters for Learning Object Similarity
      user_settings["los_filters"] = {}
      <% ["title","description","language","year"].each do |criterion| %>
        user_settings["los_filters"]["<%=criterion%>"] = $("#los_filter_<%=criterion%>").slider("value")/100;
      <% end %>

      //Filters for User Similarity
      user_settings["us_filters"] = {}
      <% ["language","los"].each do |criterion| %>
        user_settings["us_filters"]["<%=criterion%>"] = $("#us_filter_<%=criterion%>").slider("value")/100;
      <% end %>

      return user_settings;
    };

    init();
  });
</script>