<div id="session_form">
  <div id="password_forgotten">
    <h2><%=t("devise.links.forgot_password")%></h2>

    <div class="devise_error_messages">
      <%= devise_error_messages! %>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="field">
        <p><%=t("dictionary.email")%></p>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit t("devise.passwords.send_instructions_button") %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>


