<% id ||= "carousel" %>
<% title ||= nil %>
<% slidesToShow ||= 5 %>
<% extraClasses ||= [] %>
<% loProfiles ||= false %>
<% loPartialName = (loProfiles ? "lo_profile_box" : "lo_box") %>

<div class="los_carousel_wrapper <%=extraClasses.join(" ")%>">
  <% unless title.blank? %>
    <p class="section_title"><%=title%></p>
  <% end %>
  <div id="<%=id%>" class="los_carousel">
    <% los.each do |lo| %>
      <div>
        <%= render "los/" + loPartialName, lo: lo %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#<%=id%>").slick({
      infinite: true,
      slidesToShow: parseInt("<%=slidesToShow%>"),
      slidesToScroll: 1,
      dots: true
    });
  });
</script>