<div class="lo_box"%>
  <p>
    <%= link_to(lo[:url],:title => lo[:title]) do %>
      <%= lo[:title] %>
    <% end %>
  </p>
  <% unless lo[:thumbnail_url].blank? %>
    <%= link_to(lo[:url]) do %>
      <img title="<%=lo[:title]%>" src="<%=lo[:thumbnail_url]%>"/>
    <% end %>
  <% end %>
  <% if lo[:external] %>
    <%= link_to(lo[:url]) do %>
      <div class="external_lo_profile_badge" title="External resource"><img src="/assets/Europeana_icon.png"></div>
    <% end %>
  <% end %>
</div>