<ul>
  <li><a href="/"><%=t("header.home")%></a></li>
  <li><a href="/search"><%=t("header.explore")%></a></li>
  <li><a href="/profile"%><%=t("header.account")%></a></li>
  <% if EuropeanaRS::Application::config.evaluation %>
    <li><a href="/evaluation"><%=t("header.evaluation")%></a></li>
  <% else %>
    <li><a target="_blank" href="https://github.com/agordillo/EuropeanaRS"><%=t("header.about")%></a></li>
  <% end %>
  <li class="language">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle dropdown-menu-right" type="button" data-toggle="dropdown">
        <span class="languagetext"><img src="/assets/flags/flag_<%=I18n.locale.to_s%>"/><%=t("header.language")%></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% I18n.available_locales.map(&:to_s).each do |lanCode| %>
          <form id="change_locale" action="/change_locale" action="GET">
            <input name="locale" value="" type="hidden"/>
            <li value="<%=lanCode%>"><img src="/assets/flags/flag_<%=lanCode%>"/><%=t("languages." + lanCode)%></li>
          </form>
        <% end %>
      </ul>
    </div>
  </li>
  <%if user_signed_in? %>
    <li class="login">
      <p><span class='logged_as'><%=t("devise.sessions.logged").html_safe%> </span><span class='username'><%=link_to(current_user.name, "/profile")%></span></p>
      <%= link_to(raw('<span id="logout" title="'+t("devise.sessions.close")+'" class="glyphicon glyphicon-log-out"></span>'), destroy_user_session_path, :method => :delete)%>
    </li>
  <% else %>
    <li class="login"><a href="/users/sign_in"><%=t("devise.sessions.new")%></a></li>
    <li class="login"><a class="registration_new" href="/users/sign_up"><%=t("devise.registrations.new")%></a></li>
  <% end %>
</ul>

<script>
  $(document).ready(function(){
    $("#change_locale li").click(function(e){
      $("#change_locale input[name]").attr("value",$(this).attr("value"));
      $("#change_locale").submit();
    });
  });
</script>