<!DOCTYPE html>
<html>
<head>
  <title>EuropeanaRS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= render "layouts/header" %>
</header>

<div id="container">
  <%= render '/layouts/notifications' %>
  <%= yield %>
</div>

<footer>
  <%= render "layouts/footer" %>
</footer>


</body>
</html>
